body {
    background-image: url('https://cdn.pixabay.com/photo/2015/07/27/08/48/aircraft-862216__340.jpg');
    height: 680px; 
    background-position: 0rem; 
    background-repeat: no-repeat; 
    background-size: cover;
  }